Tuples: tuples are ordered meaning element order will not change
        unchangeable meaning we cannot add or delete elements once we created a         tuples. tuples allow duplicate.

In [4]:
item=("anshu","anshu","arshu","sachin")

In [5]:
item

('anshu', 'anshu', 'arshu', 'sachin')

In [6]:
item[1]

'anshu'

In [7]:
item[2:4]

('arshu', 'sachin')

In [9]:
#adding elements to tuples
item[1]="deepa"

TypeError: 'tuple' object does not support item assignment

In [10]:
item_list=list(item)

In [11]:
item_list

['anshu', 'anshu', 'arshu', 'sachin']

In [13]:
item_list[1]="deepa"

In [14]:
item_list

['anshu', 'deepa', 'arshu', 'sachin']

In [15]:
item=tuple(item_list)

In [16]:
item

('anshu', 'deepa', 'arshu', 'sachin')

In [17]:
#remove elements form tuple
item_list=list(item)

In [18]:
item_list

['anshu', 'deepa', 'arshu', 'sachin']

In [19]:
item_list.remove("deepa")

In [20]:
item_list

['anshu', 'arshu', 'sachin']

In [21]:
item=tuple(item_list)

In [23]:
item

('anshu', 'arshu', 'sachin')

In [24]:
#iterating elements from the tuple
for i in item:
    print(i)

anshu
arshu
sachin

In [27]:
for i in range(len(item)):
    print(item[i])

anshu
arshu
sachin

In [28]:
item1=("a","b","c")
item2=("1","2","3")

In [29]:
#adding two tuple
item3=item1+item2

In [30]:
item3

('a', 'b', 'c', '1', '2', '3')

In [33]:
#multiply tuple
mul_tuple=item3*2

In [34]:
mul_tuple

('a', 'b', 'c', '1', '2', '3', 'a', 'b', 'c', '1', '2', '3')

In [35]:
#multiply list
item=["a","b","c"]

In [36]:
new_list=item*2

In [37]:
new_list

['a', 'b', 'c', 'a', 'b', 'c']

Set: unordered, unchangeable and do not allow duplicate values/elements

In [40]:
item={"anshu","anshu","arshu","arshu"}

In [41]:
item

{'anshu', 'arshu'}

In [42]:
#iterating elements over set
for i in item:
    print(i)

arshu
anshu

In [43]:
#adding item to set
item.add("sachin")

In [44]:
item

{'anshu', 'arshu', 'sachin'}

In [48]:
item_new={"mango","banana","papaya"}

In [49]:
item.update(item_new)

In [50]:
item

{'anshu', 'arshu', 'banana', 'mango', 'papaya', 'sachin'}

In [51]:
item_list=["s1","s2","s3"]

In [52]:
item.update(item_list)

In [53]:
item

{'anshu', 'arshu', 'banana', 'mango', 'papaya', 's1', 's2', 's3', 'sachin'}

In [54]:
item.remove("sachin")

In [55]:
item

{'anshu', 'arshu', 'banana', 'mango', 'papaya', 's1', 's2', 's3'}

In [56]:
item.remove("sachin")

KeyError: 'sachin'

In [57]:
item.discard("sachin")

In [58]:
item.pop()

'anshu'

In [59]:
item

{'arshu', 'banana', 'mango', 'papaya', 's1', 's2', 's3'}

In [65]:
item.clear()

In [66]:
item

set()

In [67]:
del item

In [68]:
item

NameError: name 'item' is not defined

In [69]:
item={"anshu","anshu","arshu","arshu"}

In [70]:
#iterate over set
for i in item:
    print(i)

arshu
anshu

In [71]:
item1={"s1","s2","s3"}

In [72]:
item2={"a1","a2","a3"}

In [73]:
item3=item1+item2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [74]:
item3=item1.union(item2)

In [75]:
item3

{'a1', 'a2', 'a3', 's1', 's2', 's3'}

In [76]:
#union and update

Explain each question in words and code for each
Question 1: difference between union and update 
Question 2: difference between list, tuple, set and dict (dictionary)
Question 3: Can we change the order of set?