# Day 5

LIST: Change List Items

In [1]:
item = ["aakarsh", "ayansh", "sachin"]

In [2]:
item[1]="anshu"

In [3]:
item[0:2]=["arshu","ayansh"]

In [4]:
item

['arshu', 'ayansh', 'sachin']

Insert the item in the list

In [5]:
item.insert(1,"shubham")

In [6]:
item

['arshu', 'shubham', 'ayansh', 'sachin']

Adding items/elements in the list

In [7]:
item.append("papa")

In [12]:
item

['arshu', 'shubham', 'ayansh', 'mama', 'sachin', 'papa']

In [13]:
#adding two list as one 
element=["houston","katy","boston"]

In [14]:
item.extend(element)

In [15]:
item

['arshu',
 'shubham',
 'ayansh',
 'mama',
 'sachin',
 'papa',
 'houston',
 'katy',
 'boston']

In [18]:
#tuples
item_tuple=("school","collage")
item.extend(item_tuple)

In [17]:
item

['arshu',
 'shubham',
 'ayansh',
 'mama',
 'sachin',
 'papa',
 'houston',
 'katy',
 'boston',
 'school',
 'collage']

In [28]:
#remove items from list
item.remove("school")

In [29]:
item

['arshu',
 'shubham',
 'ayansh',
 'mama',
 'sachin',
 'papa',
 'houston',
 'katy',
 'boston',
 'school']

In [30]:
item.pop(9)

'school'

In [31]:
item

['arshu',
 'shubham',
 'ayansh',
 'mama',
 'sachin',
 'papa',
 'houston',
 'katy',
 'boston']

In [32]:
item.pop()

'boston'

In [37]:
#Deleting the list
del element

NameError: name 'element' is not defined

In [34]:
element

NameError: name 'element' is not defined

In [35]:
item.clear()

In [38]:
del item

In [39]:
item

NameError: name 'item' is not defined

In [44]:
#loop through the index of the list
item = ["aakarsh", "ayansh", "sachin"]
for if in item:
    print(i)

aakarsh
ayansh
sachin

In [55]:
len(item)

3

In [50]:
#iteration
for i in item:
    print(i)

aakarsh
ayansh
sachin

In [62]:
for j in range(len(item)):
    print(item[j])

aakarsh
ayansh
sachin

In [65]:
item.reverse()

In [69]:
item_copy=item.copy()

In [68]:
item

['sachin', 'ayansh', 'aakarsh']

In [70]:
item_copy

['sachin', 'ayansh', 'aakarsh']

In [71]:
a=item

In [72]:
a

['sachin', 'ayansh', 'aakarsh']