for loop

In [20]:
item=["anshu","arshu","sunny","katy","houston","hyderabad","new york"]

In [6]:
for i in item:
    print(i)
    if i=="arshu":
        break

anshu
arshu

In [8]:
for i in item:
    print(i)
    if i=="arshu":
        continue

anshu
arshu
sunny
katy
houston
hyderabad

In [10]:
for i in range(len(item)):
    print(item[i])

anshu
arshu
sunny
katy
houston
hyderabad

In [11]:
for i in range(4):
    print(item[i])

anshu
arshu
sunny
katy

In [12]:
for i in range(2,4):
    print(item[i])

sunny
katy

In [23]:
for i in range(1,7,2):
    print(item[i])

arshu
katy
hyderabad

In [26]:
#nested loop
item1=["anshu","arshu","sunny","katy","houston","hyderabad","new york"]
item2=["boston","dallas","san antonio"]
for i in item1:
    for j in item2:
        print(i,j)

anshu boston
anshu dallas
anshu san antonio
arshu boston
arshu dallas
arshu san antonio
sunny boston
sunny dallas
sunny san antonio
katy boston
katy dallas
katy san antonio
houston boston
houston dallas
houston san antonio
hyderabad boston
hyderabad dallas
hyderabad san antonio
new york boston
new york dallas
new york san antonio

Function

In [28]:
a=2
b=5
c=a+b
c

7

In [30]:
def addNumber(a,b):
    return a+b

In [32]:
addNumber(2,6)

8

In [33]:
addNumber(122,6888)

7010

In [38]:
#void
def printNum():
    print("i am anshu")

In [37]:
printNum()

i am anshu

In [41]:
def myName(myName):
    return 'hello '+ myName

In [42]:
myName("sachin")

'hello sachin'

In [43]:
def multiplyNum(a,b):
    return a*b

In [46]:
multiplyNum(455.44,44.52535635637457457)

20278.628298947235

In [47]:
def divideNum(a,b):
    return a/b

In [59]:
divideNum(242343434,-2434)

-99565.91372226787

Homework:

1. write a function for calculating the area of rectangle.
2. write a function for calculating the area of triangle.
3. write a function for calculating the average speed(distance=speed * time).
4. write a program for swapping two number.
    for example:
        input: a=5,b=7
        output:a=7,b=5